body{
    background-color: silver;
}

#card-holder div{
  display:block;
  float:left;
    min-width:500px;
    min-height: 200;
    margin:4px;
    /* background-color: greenyellow; */
}

#card-holder div:first-child{
    position: relative;
    background-color: green;
    
}

#card-holder div:nth-child(2){
    position: relative;
    background-color: rebeccapurple;

}

#card-holder div:nth-child(3){
    position: relative;
    background-color: burlywood;

}

#card-holder div:nth-child(4){
    position: relative;
    background-color: steelblue;

}

img{
    position: absolute;
}
button{
    position: absolute;
    bottom: 0px;
    background-color: silver;
}



